.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .brand-tag {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .men, .style {
    color: #d4af37;
    font-size: 14px;
    font-weight: 500;
  }
  
  .x {
    margin: 0 8px;
    color: #d4af37;
  }
  
  .brand-name {
    font-size: 50px;
    font-weight: bold;
    color: #d4af37;
    letter-spacing: 8px;
    line-height: 1;
    margin-bottom: 8px;
  }
  
  .barber-tag {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .barber-text {
    color: #d4af37;
    font-size: 12px;
    letter-spacing: 4px;
    margin: 0 8px;
  }
  
  .dash {
    color: #d4af37;
  }
  
  .footer-bottom {
    padding: 20px 0;
  }
  
  .footer-bottom h4 {
    color: #d4af37;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 12px;
  }